//== Label Style
@mixin label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  vertical-align: -4px;
  color: $gray;
  padding-top: 0.2em;
  white-space: normal;
  text-align: left;
  font-weight: 600;
}
@mixin select {
  padding-right: 1.75rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 0.6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }

  //   &:disabled {
  //     @include inputDisabled();
  //   }
}

@mixin customRadioCheck {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin: 10px 0.75rem 0 0;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + label {
      padding: 0 0 0 30px;
      cursor: pointer;
      font-weight: 600;
      min-height: 20px;
      &:before {
        @include border-radius(2px);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border: solid 1px $gray-100;
        background-color: $white;
      }
    }
    @at-root {
      &:checked {
        & + label {
          &:after {
            position: absolute;
            content: "";
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            background-color: $gray-900;
          }
        }
      }
      &:checked:not([type="radio"]) {
        & + label {
          &:after {
            top: 5px;
            height: 5px;
            background-color: transparent;
            border-left: solid 2px $gray-900;
            border-bottom: solid 2px $gray-900;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &:disabled {
      & + label {
        &:before {
          border-color: $gray-400;
          background-color: $gray-500;
        }
        &:after {
          border-color: $gray-900;
        }
      }
    }
    &:checked:disabled:not([type="radio"]) {
      & + label {
        &:after {
          border-color: transparent transparent $gray-400 $gray-400;
        }
      }
    }
  }
}
.error-text {
  color: $danger;
}
