@import "../../assets/stylesheets/styles/functions";
@import "../../assets/stylesheets/styles/variables";
@import "../../assets/stylesheets/mixins/mixins";

.editor-wrapper {
  position: fixed;
  left: -500px;
  top: 50px;
  bottom: 0;
  background-color: rgba($black, 0.9);
  width: 100%;
  @include flexbox;
  @include flex-direction(column);
  transition: ease-in-out all 0.5s;
  left: 0;
  z-index: 3;
  @include media-breakpoint-up(sm) {
    background-color: rgba($black, 0.5);
    width: 350px;
    &.open {
      left: 80px;
      &.expand {
        width: 600px;
      }
      @include media-breakpoint-between(sm, md) {
        width: calc(100% - 70px);
        left: 70px;
      }
      @include media-breakpoint-between(md, lg) {
        width: 60%;
        left: 70px;
      }
    }
  }
  .editor-header {
    padding: 20px;
    .editor-close-btn-container {
      position: absolute;
      right: 0;
    }
  }
  .editor-body {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 20px 10px;
    fieldset {
      border: 0;
    }
  }
  .editor-footer {
    background-color: rgba($gray-700, 0.7);
    padding: 20px;
    .btn + .btn {
      margin-left: 5px;
    }
  }
}
.picker {
  width: 35px;
  height: 35px;
  @include border-radius(2px);
}
.swatch {
  padding: 5px;
  background-color: $white;
  @include border-radius(1px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;
}
.popover {
  position: absolute;
  z-index: 2;
  left: 20px;
}
.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.editor-btn-group {
  .btn {
    border: solid 1px $gray-600;
    margin: 0 5px;
    @include border-radius(2px);
    padding: 10px;
    &.fa {
      font-size: 1.5rem;
      &:after {
        background-color: $white;
        font-size: 0.7rem;
        vertical-align: 10px;
        margin: -5px 0 0 -8px;
        color: $black;
        padding: 2px;
        @include border-radius(50%);
      }
    }
  }
}

.hide-on-collapse {
  display: none !important;
}
.expand {
  th,
  td {
    &.hide-on-collapse {
      display: table-cell !important;
    }
  }
}
