@import "../../../../assets/stylesheets/styles/functions";
@import "../../../../assets/stylesheets/styles/variables";
@import "../../../../assets/stylesheets/mixins/mixins";

.link-wrapper {
  .link-container {
    list-style: none;
    > li {
      @include flexbox;
      padding-bottom: 10px;
      .autoComplete-wrapper {
        flex: 1;
        margin-right: 10px;
      }
      .check {
        margin: 5px 0;
      }
    }
  }
  .description-container {
    margin-top: 10px;
    h4 {
      padding: 15px 0;
      border-top: solid 1px $gray-300;
    }
    p {
      padding-bottom: 15px;
      border-bottom: solid 1px $gray-300;
    }
  }
}
