@import "../../assets/stylesheets/styles/functions";
@import "../../assets/stylesheets/styles/variables";
@import "../../assets/stylesheets/mixins/mixins";

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 70px;
  background-color: rgba($black, 0.5);
  padding: 0 12.5px;
  > ul {
    list-style: none;
    padding-top: 10px;
    > li {
      padding: 10px 0 15px;
      position: relative;
      a {
        color: $gray-500;
        display: inline-block;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 2.3;
        @include border-radius(50%);
        border: solid 1px transparent;
        transition: all 0.5s;
        text-decoration: none;
        @include font-size(1.3rem);
        background-color: rgba($gray-700, 0.3);
        &:before {
          text-shadow: 0.2rem 0.2rem 0.25rem rgba($black, 0.3);
        }
        &:hover,
        &:active,
        &.active {
          color: $gray-200;
          background-color: $gray-600;
          border-color: $gray-400;
          text-decoration: none;
        }
      }
    }
  }
}
